@import "tailwindcss";

@theme {
  --color-primary: #1976D2;
  --color-secondary: #26A69A;
  --color-accent: #9C27B0;
  --color-dark: #1D1D1D;
  --color-positive: #21BA45;
  --color-negative: #C10015;
  --color-info: #31CCEC;
  --color-warning: #F2C037;
}

body {
  @apply bg-gray-50 text-gray-900;
}
